﻿@model IEnumerable<ClassLibrary.Model.Local>

@{
    ViewBag.Title = "VISITA APP - Local";
}

<h2>Lista de Locais</h2>

<p>
  <!--  @Html.ActionLink("Create New", "Create")-->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPS_Lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPS_Long)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GPS_Lat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GPS_Long)
        </td>
        <td>
          <!--  @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |-->
            @Html.ActionLink("Details", "Details", new { id=item.Id }) <!--|
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })-->
        </td>
    </tr>
}

</table>
