﻿@model IEnumerable<ClassLibrary.Model.Poi>

@{
    ViewBag.Title = "VISITA APP - Poi";
}

<h2>Lista de Pois</h2>

<p>
   <!-- @Html.ActionLink("Create New", "Create")-->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Local.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrição)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Local.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrição)
        </td>
        <td>
         <!--   @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |-->
            @Html.ActionLink("Details", "Details", new { id=item.Id }) <!---|
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })-->
        </td>
    </tr>
}

</table>
