/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 7/out/2016, 20:23:27
    Author     : laptop
*/

button {
    color:black;
    background-color:#e7e7e7;
    border:1px solid;
    border-color: #e7e7e7;
}

  .ui-tabs-vertical { 
      width: 45em; 
      position: relative}

  .ui-tabs-vertical .ui-tabs-nav {
      position: absolute;
      height: 45px;
      -webkit-transform-origin: 0 0;
      transform: rotate(-90deg) translate(-595px, 0px)}
  .ui-tabs-vertical .ui-tabs-nav li a { 

      display:inline; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
      padding-bottom: 0; 
      padding-right: .1em; 

      border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { 
      padding: 1em; 
      float: right; 
      width: 38em;}

#widget_vertical { 
    height:700px;max-width:400px;
}
#tabs{
    border:none;
}

.div-pesquisa{
    width:220px;
}
.div-resultados{
    /*overflow: scroll;*/
    width:400px;
    max-width:600px;
    height:400px;
    
}
.table_resultados,td, th{
    border-collapse: collapse;
     border: 1px solid black;
     font-size: 12px;
     width:400px;
     max-width:600px;
}
th{
    background-color: buttontext;
    	font-size: 14px;
	color: white;
}

/*.ui-tabs{
    height:700px;
        width: 650px;
}*/