﻿@model IEnumerable<ClassLibrary.Model.Meteorologia>


<script type="text/javascript">
    function Validate() {
        var valorID = document.getElementById("PoiID");
        if (valorID.value == "") {
            //If the "Please Select" option is selected display error.
            alert("Deve indicar um Ponto de Interesse para efetuar a filtragem");
            return false;
        }
        return true;
    }
</script>

@{
    ViewBag.Title = "Filtrar";
}

<h2>Filtrar</h2>

<!--<form action="/api/Meteorologias/Filtrar" method="get">--> 
<form asp-controller="api/Meteorologias" asp-action="Filtrar" method="POST">
    <!-- FILTRAGEM-->

    <table cellspacing="10">
        <tr>
            <th style="padding:0 15px 0 15px;" align="center">Ponto Interesse</th>
            <th style="padding:0 15px 0 15px;" align="center">Data</th>
            <th style="padding:0 15px 0 15px;" align="center">Hora</th>
            <th style="padding:0 15px 0 15px;" align="center">Margem(Horas)</th>
            <th style="padding:0 15px 0 15px;" align="center"></th>
        </tr>
        <tr>
            <td style="padding:0 15px 0 15px;" align="center">@Html.DropDownList("PoiID", "")</td>
           <td style="padding:0 15px 0 15px;" align="center">
                <div class="demo">
                    <input class="datefield" data-val="true" data-val-required="Date is required"
                           id="DataFiltro" name="Data_Leitura" type="date" required/>

                </div>
            </td>

            <td style="padding:0 15px 0 15px;">
                <input type="time" name="Hora_Leitura" required>
            </td>
            <td style="padding:0 15px 0 15px;">
                <input type="number" min="0" name="Margem" width="48" height="48" required>
            </td>
            <td style="padding:0 15px 0 15px;">
                <input type="submit" value="Filtrar" onclick="return Validate()">
            </td>

        </tr>
    </table>

    <!-- TABELA DE RESULTADOS-->
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Local.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Leitura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora_Leitura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Humidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pressão)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.No2)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Local.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data_Leitura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hora_Leitura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Temp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Humidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pressão)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.No)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.No2)
                </td>
            </tr>
        }

    </table>





</form>