﻿@model ClassLibrary.Model.Meteorologia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meteorologia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Local.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Leitura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Leitura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_Leitura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_Leitura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Humidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Humidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pressão)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pressão)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
