﻿@model IEnumerable<ClassLibrary.Model.Meteorologia>

@{
    ViewBag.Title = "Metereologias";
}

<h2>Registos do sensor Meteorologias</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Local.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data_Leitura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_Leitura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Humidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pressão)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Local.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_Leitura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora_Leitura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Temp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Humidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pressão)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.No2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
