<strong>Module:</strong>        PontoPassagem &raquo;
<strong>Controller:</strong>    PontoPassagem &raquo;
<strong>Action:</strong>        index


<?php
// module/Percurso/view/percurso/percurso/index.phtml:
$title = 'List of Routes' ;
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
 <a href="<?php echo $this->url('percurso' , array('action' =>'add' )); ?>">Add new
route</a>
</p>
<table class="table">
<tr>
 <th>nome</th>
 <th>Description</th>
 <th>GPS_LAT</th>
  <th>GPS_LONG</th>
   <th>RoutID</th>
   <th>PoiID</th>
 <th>&nbsp; </th>
</tr>
<?php foreach ($pontospassagem as $pontopassagem) : ?>
<tr>
<td><?php echo $this->escapeHtml($pontopassagem->nome); ?></td>
<td><?php echo $this->escapeHtml($pontopassagem->descricao); ?></td>
 <td><?php echo $this->escapeHtml($pontopassagem->gps_lat); ?></td>
 <td><?php echo $this->escapeHtml($pontopassagem->gps_long); ?></td>
 <td><?php echo $this->escapeHtml($pontopassagem->percursoid); ?></td>
  <td><?php echo $this->escapeHtml($pontopassagem->poiid); ?></td>

</tr>
<?php endforeach; ?>
</table>