<strong>Module:</strong>
Percurso &raquo;
<strong>Controller:</strong>
Percurso &raquo;
<strong>Action:</strong>
addPoi



<br>
<br>
<h2>Route</h2>

<p>
	<b>Description: </b><?php echo $this->escapeHtml($percurso->descricao); ?></p>
<p>
	<b>Date: </b><?php echo $this->escapeHtml($percurso->data); ?></p>
<p>
	<b>Route ID: </b><?php echo $this->escapeHtml($percurso->id); ?></p>


<h3>List of Registered Points of Interest</h3>
<table class="table">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Description</th>
		<th>GPS_LAT</th>
		<th>GPS_LONG</th>
		<th>Options</th>
		<th>&nbsp;</th>
	</tr>
<?php foreach ($pois as $poi) : ?>
<tr>
		<td><?php echo $this->escapeHtml($poi->Id); ?></td>
		<td><?php echo $this->escapeHtml($poi->Nome); ?></td>
		<td><?php echo $this->escapeHtml($poi->Descricao); ?></td>
		<td><?php echo $this->escapeHtml($poi->GPS_Lat); ?></td>
		<td><?php echo $this->escapeHtml($poi->GPS_Long); ?></td>

	 <td>
           <a href="<?php echo $this->url('percurso' ,
         array('action' =>'poidetails' ,
             'id' => $percurso->id,
             'actionparam1'=> $poi->Id,
              'actionparam2' => $poi->Nome,
             'actionparam3' => $poi->Descricao,
              'actionparam4' => $poi->GPS_Lat,
              'actionparam5' => $poi->GPS_Long))
           
           ; 
           
         ?>">Check values</a>
     </td>
 </tr>
<?php endforeach; ?>
</table>
<h3>Added Points of Interest</h3>

<table class="table">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Description</th>
		<th>GPS_LAT</th>
		<th>GPS_LONG</th>
		<th>&nbsp;</th>
	</tr>
<?php foreach ($pontosexistentes as $ponto) : ?>
<tr>
		<td><?php echo $this->escapeHtml($ponto->id); ?></td>
		<td><?php echo $this->escapeHtml($ponto->nome); ?></td>
		<td><?php echo $this->escapeHtml($ponto->descricao); ?></td>
		<td><?php echo $this->escapeHtml($ponto->gps_lat); ?></td>
		<td><?php echo $this->escapeHtml($ponto->gps_long); ?></td>
		<td>
		<a href="<?php echo $this->url('percurso' ,
         array('action' =>'deletepoi' ,
             'id' => $percurso->id,
             'actionparam1'=>$ponto->id
		)); ?>">   Delete   </a>
         </td>
 </tr>
<?php endforeach; ?>
</table>


<br>
<br>
<?php ?>
<a
	href="<?php

echo $this->url('percurso', array(
    'action' => 'index'
));
?>">Back</a>
