<strong>Module:</strong>        Percurso &raquo;
<strong>Controller:</strong>    Percurso &raquo;
<strong>Action:</strong>        delete


<?php
$title = 'Delete Route' ;
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>Are you sure that you want to delete
 ' <?php echo $this->escapeHtml($percurso->id); ?>' by
 ' <?php echo $this->escapeHtml($percurso->descricao); ?>'?
 ' <?php echo $this->escapeHtml($percurso->data); ?>'?
</p>
<?php
$url = $this->url('percurso' , array(
 'action' => 'delete' ,
 'id' => $this->id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
 <input type="hidden" name="id" value="<?php echo (int) $percurso->id; ?>" />
 <input type="submit" name="del" value="Yes" />
 <input type="submit" name="del" value="No" />
</div>
</form>