<strong>Module:</strong>        Percurso &raquo;
<strong>Controller:</strong>    Percurso &raquo;
<strong>Action:</strong>        details




<br><br>

<p> <b>Description: </b><?php echo $this->escapeHtml($percurso->descricao); ?></p>
<p> <b>Date: </b><?php echo $this->escapeHtml($percurso->data); ?></p> 
<p> <b>Creator ID: </b><?php echo $this->escapeHtml($creator); ?></p> 


<table class="table">
<tr>
 <th>Name</th>
 <th>Description</th>
 <th>GPS_LAT</th>
 <th>GPS_LONG</th>
  <th>&nbsp; </th>
</tr>
<?php foreach ($pontospassagem as $pontopassagem) : ?>
<tr>
<td><?php echo $this->escapeHtml($pontopassagem->nome); ?></td>
 <td><?php echo $this->escapeHtml($pontopassagem->descricao); ?></td>
 <td><?php echo $this->escapeHtml($pontopassagem->gps_lat); ?></td>
 <td><?php echo $this->escapeHtml($pontopassagem->gps_long); ?></td>
  </tr>
<?php endforeach; ?>
</table>

 

<br><br>
<?php ?>
<a href="<?php echo $this->url('percurso' ,
 array('action' =>'index')); ?>">Back</a>

