<strong>Module:</strong>        Percurso &raquo;
<strong>Controller:</strong>    Percurso &raquo;
<strong>Action:</strong>        index


<?php
// module/Percurso/view/percurso/percurso/index.phtml:
$title = 'List of Routes' ;
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
 <a href="<?php echo $this->url('percurso' , array('action' =>'add' )); ?>">Add new
route</a>
</p>
<table class="table">
<tr>
<th>id</th>
 <th>Description</th>
 <th>Date</th>
 <th>Creator</th>
  <th>Options</th>
 <th>&nbsp; </th>
</tr>
<?php foreach ($percursos as $percurso) : ?>
<tr>
<td><?php echo $this->escapeHtml($percurso->id); ?></td>
<td><?php echo $this->escapeHtml($percurso->descricao); ?></td>
 <td><?php echo $this->escapeHtml($percurso->data); ?></td>
 <td><?php echo $this->escapeHtml($percurso->turistaid); ?></td>
  <td>
   <a href="<?php echo $this->url('percurso' ,
 array('action' =>'details' , 'id' => $percurso->id)); ?>">   Details   </a>
   <?php 
  if (! isset($_SESSION)) {
      session_start();
  }
    if ($_SESSION['turistaid']==$percurso->turistaid): ?>
         <a href="<?php echo $this->url('percurso' ,
         array('action' =>'edit' , 'id' => $percurso->id)); ?>">Edit</a>
         <a href="<?php echo $this->url('percurso' ,
         array('action' =>'delete' , 'id' => $percurso->id)); ?>">Delete</a>
         <br></br>
         <a href="<?php echo $this->url('percurso' ,
         array('action' =>'addpontopassagem' , 'id' => $percurso->id)); ?>">Points of Interest</a>
 <?php endif;?>
 </td>
</tr>
<?php endforeach; ?>
</table>