<strong>Module:</strong>        Percurso &raquo;
<strong>Controller:</strong>    Percurso &raquo;
<strong>Action:</strong>        PoiDetails


<br>
<br>
<h2>Point of Interest</h2>
<h3>(data from sensors-last 2 days)</h3>
<br>
<br>
<p>
	<b>Name: </b><?php echo $this->escapeHtml($nomepoi); ?></p>
	<p>
<p>
	<b>Discription: </b><?php echo $this->escapeHtml($descricaopoi); ?></p>
	<p>
<p>
	<b>Latitude: </b><?php echo $this->escapeHtml($latpoi); ?></p>
	<p>
	<p>
	<b>Longitude: </b><?php echo $this->escapeHtml($longpoi); ?></p>
	<p>


<table class="table">
<tr>
 <th>Date</th>
 <th>Temperature</th>
 <th>Wind</th>
 <th>Humidity</th>
  <th>&nbsp; </th>
</tr>
<?php foreach ($poisdata as $poidata) : ?>
<tr>
<td><?php echo $this->escapeHtml($poidata->Data_Leitura); ?></td>
 <td><?php echo $this->escapeHtml($poidata->Temp); ?></td>
 <td><?php echo $this->escapeHtml($poidata->Vento); ?></td>
 <td><?php echo $this->escapeHtml($poidata->Humidade); ?></td>
  </tr>

<?php endforeach; ?>
</table>


  <a href="<?php echo $this->url('percurso',
            array('action'=>'addpoi', 
                'id' => $percurso->id,
                'actionparam1' => $nomepoi,
                'actionparam2' => $descricaopoi,
                'actionparam3' => $latpoi,
                'actionparam4' => $longpoi,
                'actionparam5' => $idpoi
            ));?>">Add to Route</a>
            
            <?php ?>
 
<br><br>
<?php ?>
<a href="<?php echo $this->url('percurso' ,
 array('action' =>'addpontopassagem','id'=>$percurso->id)); ?>">Back</a>