<strong>Module:</strong>        Turista &raquo;
<strong>Controller:</strong>    Turista &raquo;
<strong>Action:</strong>        goodbye

<br><br>

Thanks you for using our application! See you soon!
<br><br>