<strong>Module:</strong>        Turista &raquo;
<strong>Controller:</strong>    Turista &raquo;
<strong>Action:</strong>        index


<p>
 <a href="<?php echo $this->url('turista' , array('action' =>'register' )); ?>">REGISTER</a>
</p>

<p>
 <a href="<?php echo $this->url('turista' , array('action' =>'login' )); ?>">LOGIN</a>
</p>