<strong>Module:</strong>        Turista &raquo;
<strong>Controller:</strong>    Turista &raquo;
<strong>Action:</strong>        login


 <?php
$title = 'Login';
$this->headTitle($title);
?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>
 <?php
 $form->setAttribute('action', $this->url('turista', array('action' => 'Login')));
 $form->prepare();

 echo $this->form()->openTag($form);
 echo $this->formRow($form->get('email'));
 echo $this->formRow($form->get('password'));
 echo $this->formSubmit($form->get('submit'));
 echo $this->form()->closeTag();