<strong>Module:</strong>        Turista &raquo;
<strong>Controller:</strong>    Turista &raquo;
<strong>Action:</strong>        register


<?php
$title = 'New Tourist' ;
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form->setAttribute('action' , $this->url('turista' , array('action' => 'register' )));
$form->prepare();
echo $this->form() ->openTag($form);
echo $this->formHidden($form->get('id' ));
echo $this->formRow($form->get('nome' ));
echo $this->formRow($form->get('nacionalidade' ));
echo $this->formRow($form->get('email' ));
echo $this->formRow($form->get('password' ));
echo $this->formSubmit($form->get('submit' ));
echo $this->form() ->closeTag();