<strong>Module:</strong>        Turista &raquo;
<strong>Controller:</strong>    Turista &raquo;
<strong>Action:</strong>        welcome

<br><br>

Successfull Login. To start using click <a href="<?php echo $this->url('percurso' ,
 array('action' =>'index')); ?>">HERE</a>
<br><br>