<strong>Module:</strong>        Turista &raquo;
<strong>Controller:</strong>    Turista &raquo;
<strong>Action:</strong>        welcome

<br><br>

Thank you for your registration. To log in click <a href="<?php echo $this->url('turista' ,
 array('action' =>'login')); ?>">HERE</a>
<br><br>